$light-blue: rgba(25, 175, 229, 1);
$dark-blue: rgba(0, 42, 99, 1);
$search-bar-blue: rgba(6, 69, 125, 1);
$footer-arrow-blue: rgba(2, 99, 171, 1);
$white: rgba(255, 255, 255, 1);
$white-dim: rgba(240, 242, 242, 1);
$orange: #f58c21;
$black: #222;